alembic>=0.8
blinker>=1.4
celery>=3.1.23
Flask>=0.11.1
Flask-Admin>=1.4.2
Flask-Login>=0.3.2
Flask-Migrate>=1.8.1
Flask-Script>=2.0.5
Flask-Scrypt>=0.1.3.6
Flask-SQLAlchemy>=2.1
Flask-Webpack>=0.1.0
Flask-WTF>=0.12
flower>=0.9.1
numpy>=1.11.0
requests>=2.10.0
scrypt>=0.7.1
SQLALchemy>=1.1.0b3 #I do feel bad about this
uwsgi>= 2.0.13
