<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}{{config.APP_NAME}}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/gif" href="{{ url_for('static', filename='images/favicon.ico') }}">


  {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% block nav %}
  {% with form=form, layout=self %}
  {% include "nav.html" %}
  {% endwith %}
{% endblock %}

{% block container_start %}
<div class="container">
{% endblock %}
  <div id="main">
    {% block content %}
    <router-view><h1>Waiting for Load...</h1></router-view>
    {% endblock %}
  </div>
{% block container_end %}

<messages>
{%- with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
      {% for category, message in messages %}
        <div class="message-wrapper message-{{category}}" id="message-{{loop.index}}">
          <div class="message-category">{{category}}</div>
          <div class="message-text" >{{message}}</div>
          <button class="close fa fa-times-circle"></button>
        </div>
      {% endfor %}
  {% endif %}
{% endwith -%}
</messages>
</div>
{% endblock %}


<!-- JavaScript at the bottom for fast page loading -->
{% block app_js %}
    {{ javascript_tag("app_js") | safe }}
    {{ javascript_tag("app_style") | safe }}
{% endblock %}
{% block js %}{% endblock %}
<!-- end scripts -->
{% endblock %}
</body>
</html>
