// messages.scss
@import "vendor";

messages {
  position: absolute;
  top: 60px;
  right: 0px;
  max-width: 300px;
  z-index: 2000;

  > .message-wrapper {
    @extend .alert;
    // @extend .alert-dismissable;
    display: block;
    clear: both;
    float: right;
    min-height: 50px;
    min-width: 100px;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    box-shadow: 0px 0px 5px #aaa;
    position: relative;

    > .close {
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 3px;
      color: inherit;
    }

    > .message-category {
      text-transform: capitalize;
      display: block;
      border-bottom: 1px solid;
      font-weight: bold;
    }
  }

  > .message-wrapper:hover {
    box-shadow: 0px 0px 7px #444;
  }

  > .message-success {
    @extend .alert-success;
    > .message-header {
      border-bottom-color: $alert-success-text;
    }
  }

  > .message-success:hover {
    background: lighten($alert-success-bg, 2%);
  }

  > .message-info {
    @extend .alert-info;
    > .message-header {
      border-bottom-color: $alert-info-text;
    }
  }

  > .message-info:hover {
    background: lighten($alert-info-bg, 2%)
  }

  > .message-warning {
    @extend .alert-warning;
    > .message-header {
      border-bottom-color: $alert-warning-text;
    }
  }

  > .message-warning:hover{
    background: lighten($alert-warning-bg, 2%);
  }

  > .message-danger {
    @extend .alert-danger;
    > .message-header {
      border-bottom-color: $alert-danger-text;
    }
  }

   > .message-danger:hover {
    background: lighten($alert-danger-bg, 2%);
  }

}
