/* =============================================================================
     App specific CSS file.
     ========================================================================== */
@import "variables";

@import "vendor";
@import "component";

@import "messages";
@import "table";
@import "forms";
@import "footer";
@import "typography";
@import "nav";

/* sass helpers */
@mixin vertical-align {
  // http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//From https://github.com/nickjj/flask-webpack
@function asset-url($path){
  @return url('~!file!' + $path);
}

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.login-page {
  background: #2a2f39;

  nav, footer {
    display:none;
  }

  .container {
    margin-top: 150px;
  }

  .auth_box {
    padding-top:20px;
  }

  .input-group-addon i{
    width: 15px;
  }

  .input-group{
    margin-bottom:20px;
  }

  #main_container {
    margin: 50px 50px;
  }
}
